<div class="page-container">
  <h1>Profile Page</h1>

  <form *ngIf="form$ | async as form; else loader" [formGroup]="form">
    <div class="tui-row">
      <div class="tui-col_8">
        <div class="tui-form__row">
          <tui-input formControlName="email" [readOnly]="true">
            Email
          </tui-input>
        </div>
        <div class="tui-form__row">
          <tui-input formControlName="firstName">
            Имя
            <span class="tui-required"></span>
          </tui-input>
          <tui-error
            formControlName="firstName"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
        <div class="tui-form__row">
          <tui-input formControlName="lastName">
            Фамилия
            <span class="tui-required"></span>
          </tui-input>
          <tui-error
            formControlName="lastName"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
        <div class="tui-form__row">
          <tui-input-phone formControlName="phoneNumber">
            Номер телефона
            <span class="tui-required"></span>
          </tui-input-phone>
          <tui-error
            formControlName="phoneNumber"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
        <div class="tui-form__row">
          <tui-input formControlName="webSiteUrl"> Адрес сайта </tui-input>
          <tui-error
            formControlName="webSiteUrl"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
        <div class="tui-form__buttons">
          <button
            tuiButton
            size="l"
            type="submit"
            class="tui-form__button"
            [showLoader]="(isFormSaving$ | async) || false"
            (click)="save(form)"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </form>

  <ng-template #loader>
    <tui-loader size="l"></tui-loader>
  </ng-template>
</div>
